.product-head {
    padding: 30px 0;
    font-family: Montserat, sans-serif;
    background-color: #f1f1f1;
    overflow: auto;

    &__name {
        width: 100%;
        margin: 0;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1.5px;
        font-size: 32px;
    }
}

.product {
    padding: 30px 0;
    font-family: Montserat, sans-serif;

    &__body {
        display: flex;
    }

    &__images-block {
        width: 50%;
        min-height: 300px;
    }

    &__info-block {
        width: 48%;
        min-height: 300px;
        margin: 0 0 0 2%;
    }

    &__devider {
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
}

@media all and (max-width: 992px) {
    .product {
        &__body {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__images-block {
            width: 95%;
            margin: 0 0 30px;
        }

        &__info-block {
            width: 100%;
            margin: 0;
        }
    }
}
