.checkboxes {
    width: 100%;
    font-family: Montserat, sans-serif;

    &__title {
        margin: 0 0 15px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    &__item {
        margin: 12px 0;
    }
}

.checkboxes.w230 {
    max-width: 230px;
}

.checkboxes.h400 {
    max-height: 400px;
    overflow: auto;
}