$header-height: 55px;
$footer-height: 48px;

.side-menu {
    position: fixed;
    width: 100%;
    margin: 0 0 0 20px;
    top: 0;
    left: 0;
    font-family: MontSerrat, sans-serif;
    background-color: blue;
    z-index: 500;

    &__body {
        position: absolute;
        display: flex;
        max-width: 420px;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 20px;
        flex-direction: column;
        background-color: #fff;
        overflow: auto;
    }

    &__header {
        display: flex;
        width: 100%;
        height: $header-height;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        color: #fff;
        background-color: #000;
        overflow: auto;
    }

    &__header-text {
        text-transform: uppercase;
        letter-spacing: 2px;
        user-select: none;
    }

    &__close-btn {
        background-color: transparent;
        color: #fff;
    }

    &__content {
        max-width: 100%;
        flex-grow: 1;
        padding: 14px 25px 25px 25px;
        // background-color: red;
    }

    &__footer {
        width: 100%;
        min-height: $footer-height;
        bottom: 0;
        flex-shrink: 0;
        background-color: #fff;
    }

    .MuiButtonBase-root {
        min-width: auto;
        max-width: 25%;
        color: rgb(66, 66, 66);
    }

    .Mui-selected {
        color: #0078B4;
    }

    .MuiTabs-indicator {
        background-color: #0078B4;
    }
}

.side-menu.enter {
    .side-menu__body {
        animation-name: from-top;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
}

.side-menu.exit {
    .side-menu__body {

        animation-name: to-top;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
}