.input-img {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__new-field {
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: opacity .3s ease;
        background-color: rgba(136, 136, 136, 0.644);
        color: #fff;
        opacity: 0;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    &__new-icon {
        font-size: 38px;
    }

    &__input {
        display: none;
    }
}
