.page-container {
    max-width: 100%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    position: fixed;
    max-width: 100vw;
    width: 100%;
    top: 31px;
    left: 0;
    font-family: Montserrat;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        background-color: inherit;
        z-index: -1;
    }

    &__container {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin: 0 0 0 5px;
        font-family: Harrington;
        font-size: 48px;
        font-weight: bold;
        user-select: none;
        color: #000;
    }

    &__categories {
        display: flex;
        align-self: stretch;
    }

    &__control, &__category-link {
        font-weight: 400;
        color: #686868;
        cursor: pointer;
    }

    &__category-item {
        display: flex;
        margin: 0;
        overflow: hidden;
    }

    &__category-link {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 12px;
        word-break: break-all;
        align-items: center;
    }

    &__controls {
        position: relative;
        display: flex;
        right: -5px;
        align-items: center;
    }

    &__control {
        display: flex;
        margin: 0 0 0 12px;
        padding: 5px;
        align-items: center;
        transition: color .3s ease;
        background-color: transparent;

        &_menu {
            display: none;
        }
    }
}

.page-container {
    margin-top: 106px;
}

@media all and (max-width: 920px) {
    .navbar {

        &__container {
            padding-top: 6px;
            padding-bottom: 6px;
        }

        &__logo {
            font-size: 34px;
        }

        &__category-item {
            display: none;
        }

        &__control {
            display: none;

            &_menu {
                display: flex;
            }
        }

        &__menu-icon {
            font-size: 30px !important;
        }
    }

    .page-container {
        margin-top: 83px;
    }
}