@import "./fonts.scss";
@import "./reset.scss";
@import "./animations.scss";

body.lock {
    overflow: hidden;
}

.container {
    display: block;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    transition: color .3s ease;
}

.btn-primary {
    &:hover,
    &:focus {
        outline: none;
        color: #00C0D1;
    }

    &:active {
        color: #0078B4;
    }
}

.btn-black {
    background-color: #000;
    color: #fff;

    &:hover,
    &:focus {
        outline: none;
        color: #00C0D1;
    }

    &:active {
        color: #0078B4;
    }
}

.btn-danger {
    &:hover,
    &:focus {
        outline: none;
        color: #ff0000;
    }

    &:active {
        color: #b40000;
    }
}