.btn {
    cursor: pointer;
    border: none;
    transition: all .3s ease;


}

.btn-primary {
    &:hover,
    &:focus {
        color: #00C0D1;
    }

    &:active {
        color: #0078B4;
    }
}

.btn-black {
    background-color: #000;
    color: #fff;

    &:hover,
    &:focus {
        color: #d6b857;
    }

    &:active {
        color: #b9a04e;
    }
}

.btn-grey {
    background-color: #E6E8EB;
    color: #000;

    &:hover,
    &:focus {
        background-color: #CFD3D9;
    }

    &:active {
        background-color: #A3AAB4;
    }
}

.btn-danger {
    &:hover,
    &:focus {
        color: #ff0000;
    }

    &:active {
        color: #b40000;
    }
}